h1 {
    text-align: center;
    font-family: 'Poiret One', cursive;
  

  }
  .display-4 {
    font-family: 'Poiret One', cursive;
    font-size: 400px;
  }
  
  h2 {
    text-align: center;
  }
  
  #cardTable {
    margin-bottom: 15px;
  }
  
  #tableContainer {
    text-align: center;
  }
  
  .form-group {
    margin: 10px;
    font-weight: bold;
  
  }
  
  #submitbutton {
    margin: 10px;
    background-color: #327ab7;
  }
  
  .card-header {
    color: white;
    font-weight: bold;
    font-family: 'Poiret One', cursive;

  }
  
  